/ b-registration-form
.b-registration
  %form.b-form{action:""}
    %fieldset
      %input.login{placeholder:"логин", type:"text"}
      %input.password{placeholder:"пароль", type:"password"}
      %a.btn.btn__login.expand Войти
      / /b-registration-form